AuthUserFile ../private/.htpasswd
AuthGroupFile /dev/null
AuthName "Please enter your ID and Password"
AuthType Basic
require valid-user

<Files "lisner.php">
    Satisfy Any
    Allow from all
</Files>
